html {
    border-left: 5px solid lightgray; 
}

header {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

main {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

body {
    min-height: 100vh;
    font-family: sans-serif;
    max-width: 1000px;
    margin: auto;
}

footer {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

/* nav ul {
    padding: 0%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
} */

/* classes */

.top {
    font-size: 30px;
    font-weight: lighter;
}

.top-nav a {
    color: lightgray;
    font-weight: lighter;
    font-size: 28px;
    text-underline-offset: 10px;
}

.top-nav ul {
    padding: 0%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}


.top-nav li {
    padding-bottom: 5px;
    display: flex;
    justify-content: space-around;
}

.bottom-nav a {
    color: tomato;
    font-size: larger; 
    font-weight: lighter; 
    text-decoration: none
}

.bottom-nav ul { 
    padding: 5px;
    list-style-type: none;
    display: flex;
    justify-content: left;
}

.bottom-nav li {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    border-right: solid 1px lightgray;
}


.date {
    color: lightgray;
    font-size: 46px;
    margin-bottom: 0;
    font-weight: lighter;
}

.blog-title {
    font-size: 46px;
    margin-top: 5px;
    font-weight: lighter;
}

.has-dropcap {
    font-size: 27px;
    font-weight: lighter;
  }
  
.dropcap {
    color: lightgray;
    font-size: 150px;
    float: left;
    line-height: 0.7;
    margin-right: 5px;
    font-weight: lighter;
}

.continue {
    display: flex;
    color: tomato;
    font-weight: bold;
    justify-content: flex-end;
    text-decoration: none;
}

.copyright {
    color: lightgray;
}
/*  */


h1 {
    color: tomato;
    font-size: 70px;
    font-weight: 100
}

article {
    margin-bottom: 0;
    margin-top: 0;
    border: solid lightgray;
    border-width: 1px;
    border-right:  0;
    border-left: 0;
    border-top: 0;
    padding-bottom: 2rem;
   
}

p {
   font-size: 27px;
   font-weight: lighter; 
}

img {
    width: 100%;
}



